<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <h3>Submitted Information</h3>
    <h5>Name:     <%= session.name %></h5>
    <h5>Dojo Location:     <%= session.location %></h5>
    <h5>Favorite Language:     <%= session.language %></h5>
    <h5>Comment:     <%= session.comment %></h5>

</body>
</html>